/* * {
    box-sizing: border-box;
} */


body {
    height: 100vh;
}

.logos {
    background-color: white;
    width: 100%;
    padding: .7em .5em;
    position: absolute;
    top: 0;
}

.movie-logo {
    width: 30%;
    height: 30px;
    margin-right: .7em;
    border-radius: 10px;

}

.movie-logo img {
    object-fit: cover;
    width: 100%;
}

#navigation {
    margin-top: 70px;
}

img {
    object-fit: cover;
    width: 100%;
}

.banner {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.about-movie {
    position: absolute;
    top: 70%;
    left: 10%;
    line-height: 2;
}

.rating {
    border: 1px solid rgb(186, 179, 179);
    padding: .3em .75em;
    margin-right: .5em;
}


.carousel-indicators button {
    width: 10px !important;
    height: 10px !important;
    border-radius: 50% !important;
    margin-right: .76em !important;
}











@media screen and (min-width: 481px) {

    .logos {
        background: linear-gradient(to right, white, rgb(10, 235, 10), white, rgb(106, 194, 106));
        padding: .5em;
        position: static;
        padding: 1em;
    }

    .movie-logo {
        width: 10%;
        height: 50px;
        margin: .5em .75em;
    }

    #navigation {
        margin-top: 0px;
    }

    img {
        width: 70%;
    }

    .banner {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 70vh;
    }


    .about-movie {
        position: absolute;
        top: 85%;
        left: 30%;
    }
}